# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Support files
*.sys
tests/mrset_test
tests/epir_test
tests/disppar_test
tests/svtest
tests/lvnr_test
tests/header_test
tests/vlsr_test
.vscode
